name: LLD Mastery CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      # Only verify ParkingLot for now as it's the only one mavenized
      - name: Build and Test Parking Lot
        run: mvn -f Problems/ParkingLot/pom.xml test
